body {

	text-align: center;
	background: url("http://i.imgur.com/q0FaaAk.jpg");
	background-size: cover;
	color: #ffffff;
	font-family: Roboto, Arial, sans-serif;
}

p {
font-size: 22px;
}

ul {
    text-align: center;
    list-style-type: none;
}
